@import "@/assets/scss/vars.scss";

.nofound-page{
    color: white;
    background-color: $primary;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;

    .logotipo{
        width: 10rem;
    }

    h1{
        color: $secondary;
    }

}