@import "@/assets/scss/vars.scss";

.socialmedia-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    font-size: .9em;

    img{
        height: 2em;
    }

    a{
        color: $gray;
        font-family: $font-secondary;
        font-weight: 500;
    }


}