.home-page{
    .blocks{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .download-icon{
            width: 20em;
            display: block;
            position: relative;
            margin: auto;
            margin-top: 2rem;

            &:hover .arrow{
                fill:black;
                transition: fill .3s ease;     
            }
        }

        @media (min-width:700px) {
            flex-direction: row;
        }
    }
}