.blog-page{
    .skeleton{
        &-item{
            margin-bottom: 2em;
            display: flex;
            gap: 1em;

            &-image{
                width: 150px;
                height: 150px;
            }
            &-content{
                flex: 1;

                &-title{
                    height: 45px;
                    margin-bottom: .5em;
                }
                &-text{
                    span{
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
}