@import "@/assets/scss/vars.scss";

.page-layout{
    background-color: $primary;

    &-header{
        padding: .8rem 1rem;
        color:white;
        font-size:.8rem;

        a{
            color: inherit;
            &:hover{
                opacity: .9;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }
    &-body{
        background-color: white;
        overflow: hidden;
       
    }
    &-content{
        padding: 1rem;
    }
}
