@import "@/assets/scss/vars.scss";
.home-page{
    .blocks{
        display: flex;
        flex-direction: column;
        gap: 3em;
        width: 100%;
        position: relative;

       & > div{
        position: relative;
        overflow: hidden;

        .title-bar{
            margin-bottom: 1em;
            font-size: .8em;

            svg{
                path{
                    fill: $primary;
                }
            }
        }
       }

        @media (min-width:700px) {
            flex-direction: row;

            & > div:nth-child(1){
                flex: 1;
                width: 0;
            }
            & > div:nth-child(2){
                width:20em;
            }
        }
    }
}