@import "@/assets/scss/vars.scss";

.post-small{
    box-shadow: 0 .2em .3em rgba($color: $default, $alpha: .1);
    background-color: white;
    border-radius: 0 0 1em 1em;
    display: flex;
    padding: 1em;
    margin-bottom: 1em;
    gap: 1em;

    &-left{
        width: 150px;
    }
    &-right{
        flex: 1;
        font-size: .9em;

        h3{
            a{
                color: #000;
                &:hover{
                    text-decoration: underline;
                    text-underline-offset: .2em;
                }
            }
        }
    }
    &-image{
        width: 150px;
        height: 150px;
        background-color: $bg-100;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        border: solid .4em white;
        box-shadow: 0 0 .5em rgba($color: $default, $alpha: .2);
        position: relative;

        &::before{
            content: ''; 
            transition: background-color .2s ease, 
                        backdrop-filter 1s ease;
            position: absolute;
            inset: 0;
        }
        
        &:hover::before{
            
                content: 'Ver post';   
                font-size: .8em; 
                background-color: rgba($color: #000000, $alpha: .5);
                backdrop-filter: blur(2px);
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                z-index: 5;
        }
        
        
    }
    &-description{
        display: none;
        @media (min-width:600px) {
            display: block;
        }
    }
}